.card{
    border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 20px;
padding: 24px;
min-width: 840px;

 background: #fff;
 display: flex;
}
.galleryImage{
    border-radius: 10px;
width: 290px;
height: 310px;
}
.name{
    display: flex;
}
.rating{
    display: flex;
}