.bookingFormContainer {
    margin-top: 44px;
    margin-left: 40px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 24px;
    width: 448px;
    height: 532px;
}
.bookingFormsk{
    margin-top: 24px;
}
.bookingForm div {
    margin-bottom: 14px; /* Відступ між інпутами */
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    
}
.dateContainer{
    height: 70px;
    width: 100%;
}

.fieldInput
{
    width: 424px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 56px;
}
/* .dateInput { */
    /* height: 30px; */
/* } */
.bookingForm textarea {
    height: 114px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.customDateInput {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 424px; /* Встановлено однакову ширину з іншими полями */
    cursor: pointer;
    height: 56px;
}

.customDateInput input {
    border: none;
    outline: none;
    width: 100%; /* Внутрішній інпут займає всю ширину контейнера */
}

.calendarIcon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.button {
    
    margin-bottom: 24px;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: var(--button);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #fff;
    cursor: pointer;
}
