.text{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--main);
}

.equipmentList {
    list-style-type: none;
    padding: 0;
}

.equipmentList li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.equipmentList li:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #007BFF;
    color: white;
}

.unselected {
    background-color: white;
    color: black;
}

.selectedEquipment {
    margin-top: 20px;
}

.selectedEquipment p {
    font-weight: bold;
}

.selectedEquipment ul {
    list-style-type: none;
    padding: 0;
}
.icon {
    fill: none;
    /* Видаляє заливку всередині ікони */
    stroke: currentColor;
    /* Встановлює колір обведення відповідно до кольору тексту */
    stroke-width: 1px;
    width:40px;
    height:28px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}
.listButton{
    border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 10px;
padding: 17px 27px;
width: 113px;
height: 95px;
display: flex;
flex-direction: column;
align-items: baseline;
align-items: center;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: center;
color: var(--main);
}